.responsiveBANNER{
    width: 100%;
    height: auto;
}

/*logo kae neechee ka text*/
.leftlogo{
    align-items: left;
    font-size: small;
    padding: 2%;  
    display: flex;
    margin-left: 2%;
      font-weight: 300;
}
.rightlogo{
  
    padding: 2%;  

    margin-left: 2%;
    font-weight:bolder;
    font-size: 4555;
}
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  

  /* Blue */
  .info {
    border-color: #2196F3;
    color: rgb(5, 5, 5);
    font-weight: 800;
    font-size: large;
    align-items: center;
  }
  
  .info:hover {
    background: #2196F3;
    color: white;
  }
  
 
