@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');


.flex {
    display: flex;
    align-items: center;
}


/* nav bar */


/* features section */

.features-section {
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./assets/asset\ 32.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.features-header {
    text-align: center;
    margin-bottom: 40px;
}

.features-heading-text {
    margin-bottom: 20px;
}

.features-area {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.features-card {
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}

.features-card img {
    width: 60px;
}

/* big feature section */

.big-feature-section {
    padding: 30px var(--padding-inline-section) 0;
}

.big-feature-container {
    gap: 30px;
}

#second-big-feature {
    flex-direction: row-reverse;
}

.feature-img img {
    width: 100%;
}

.feature-desc {
    flex-direction: column;
    align-items: flex-start;
}

/**side by side image**/


.avatar {
    vertical-align: middle;
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 29%;
    padding: 15x;  margin-left:3%;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}